@{
    ViewData["Title"] = "Календар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="~/js/calendar.js" asp-append-version="true"></script>

<div class="container mt-4 px-4">
    <h2>🗓 Календар завдань</h2>
    <div id="calendar"></div>
</div>


