@{
    ViewData["Title"] = "Home Page";
}

<body class="body">
    <div class="wrapper">
        <div class="hero container">
            <div class="hero-info">
                <h3>Daily helper</h3>
                <h1>"Punctuality is the thief of time"</h1>
                <p>Oscar Wilde, Irish poet, and playwright</p>
                <p class="bigtext">
                    Nowadays, people stuck to their numerous routine tasks,
                    Tasker came in cross to help in sorting and managing all of them with simple logic.
                    It costs you single minute to add task, deadline and priority at once, and you will not forget or lose task,
                    AI will remind you by adding priority to the task the closer deadline coming.
                </p>
                <button class="button" data-text="Awesome">
                    <span class="actual-text">&nbsp;Start&nbsp;</span>
                    <span aria-hidden="true" class="hover-text"><a href="/register">&nbsp;Start&nbsp;</a></span>
                </button>
            </div>
            <img class="timepng" src="/img/time.png" alt="No pic unlucky :C">
        </div>
    </div>
</body>
